**/node_modules
/*.log
**/build
/.vscode
**/.env
!**/.env.example
/data/
**/package-lock.json
/kms-fhe-keys
/network-fhe-keys
/docker/.env.docker
/docker/docker-compose-full.yml
frontend-only
simple-frontend

